<div class="containerFluid">
  <div class="medium">
    <app-img-landing></app-img-landing>
  </div>
  <div class="medium bienvenido">
    <div class="c1"></div>
    <div class="c2"></div>
    <div class="c3"></div>
    <div class="c4"></div>

    <div class="img2">
      <img src="../../../assets/img/logoC.PNG" alt="" class="logo" />
    </div>

    <div class="saludo">
      <h1>Bienvenido</h1>
    </div>

    <div class="boton" routerLink="/login">
      <button class="iSesion">Iniciar sesión</button>
    </div>
    <div class="boton" routerLink="/signup">
      <button class="iSesion">Registrarse</button>
    </div>
    <div class="boton pro" routerLink="/prueba">
      <button class="iSesion probar">Probar</button>
    </div>

    <div class="footer">
      <p>@Copyright</p>
    </div>
  </div>
</div>
