<app-navbar-administrador></app-navbar-administrador>

<div class="containerFluid">
    <button class="boton">
        Panel de administrador
    </button>
  <div class="header">
    <span>Usuarios</span>
    <div class="buscador">
      <form [formGroup]="formularioBuscarUsuario" style="width: 100%; display: flex; gap: .5rem;">
      <input type="text" class="form-control inNombre"
      id="nombre" placeholder="Busqueda por nombre"
      formControlName="nombre"/>
      <button type="button" 
      (click)="buscarUsuario()"
      [disabled]="!formularioBuscarUsuario.valid"
      [ngClass]="{'visible': regionVisible == 'recarga', 'noVisible': regionVisible != 'buscador'}">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>

      <button (click)="recargar()"
      [ngClass]="{'visible': regionVisible == 'buscador', 'noVisible': regionVisible != 'recarga'}"><i class="fa-solid fa-rotate-right"></i></button>
    </form>
    </div>
  </div>

  <div class="container">
    <div class="tabla">
      <!-- Cabeceras -->
      <div
        class="celda"
        style="
          border-bottom: 1px solid white;
          border-right: 1px solid white;
          font-weight: 800;
        "
      >
        Nombre
      </div>
      <div
        class="celda"
        style="
          border-bottom: 1px solid white;
          border-right: 1px solid white;
          font-weight: 800;
        "
      >
        Correo
      </div>
      <div
        class="celda"
        style="
          border-bottom: 1px solid white;
          border-right: 1px solid white;
          font-weight: 800;
        "
      >
        #Proyectos
      </div>
      <div
        class="celda"
        style="
          border-bottom: 1px solid white;
          border-right: 1px solid white;
          font-weight: 800;
        "
      >
        Plan
      </div>
      <div
        class="celda"
        style="border-bottom: 1px solid white; font-weight: 800"
      >
      Eliminar
    </div>
      <!-- Filas de informacion -->
      <ng-container *ngFor="let usuario of usuarios">
      <div class="celda" style="border-right: 1px solid white">
        {{usuario.nombre}} {{usuario.apellido}}
      </div>
      <div class="celda" style="border-right: 1px solid white">
        {{usuario.correo}}
      </div>
      <div class="celda" style="border-right: 1px solid white">
        {{usuario.proyectos.length}}
      </div>
      <div class="celda" style="border-right: 1px solid white">
        {{usuario.plan}}
      </div>
      <div class="celda">
        <button class="delete" data-bs-toggle="modal" data-bs-target="#eliminar" (click)="usuarioEliminar(usuario._id)">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </ng-container>

    </div>
  </div>
</div>

    <!-- Modal para eliminar usuario-->
    <div class="modal fade m-auto" id="eliminar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="eliminarLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            
            <div class="modal-body">
              Deseas eliminar este usuario?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn boton1" data-bs-dismiss="modal">No</button>
              <button type="button" class="btn sesion"  data-bs-dismiss="modal" (click)="eliminar()">Si</button>
            </div>
          </div>
        </div>
      </div>
    