<div class="Nav">
  <div>
    <div class="info">
      <div style="display: flex; gap: 0.8rem">
        <img src="../../../assets/img/logoCode.PNG" alt="" class="logo" />
        <img src="../../../assets/img/logo.PNG" alt="" class="logo2" />
        <button class="boton1">
          <i class="fa-solid fa-play"></i>
        </button>
      </div>

      <div class="nombre">
        <button class="btn sesion ini" type="button" routerLink="/login">
          Iniciar sesion
        </button>
        <button class="btn sesion" type="button" routerLink="/signup">
          Registrarse
        </button>
      </div>
    </div>
  </div>
</div>
