<app-navbar-pricipal></app-navbar-pricipal>
<div class="containerFluid">
    <aside>
        <i class="fa-solid fa-bars icon"></i>
    </aside>
    <article>
        <div class="secciones">
            <img src="../../../assets/img/html.png" alt="" class="logo">    
        </div>
        <div class="secciones">
            <img src="../../../assets/img/css.png" alt="" class="logo">    
        </div>
        <div class="secciones">
            <img src="../../../assets/img/js.png" alt="" class="logo">    
        </div>
        <div class="secciones resultado"></div>
    </article>
</div>