.Nav {
    width: 100%;
    height: 4.2rem;
    background-color: var(--color-fondo2);
    color: var(--letras-blancas);
    padding: .8rem;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: medium;
    gap: 1rem;
    position: fixed;
    z-index: 10000;

    .info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;


        .logo {
            width: 12rem;
        }

        .logo2 {
            width: 3rem;
            display: none;
        }

        .boton1 {
            background-color: var(--color-claro2);
            border: none;
            color: var(--letras-oscuras);
            font-size: larger;
            font-weight: 500;
            height: 2.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
            border-radius: 15px;

            #dos {
                display: none;
            }
        }

        .boton1:hover {
            background-color: var(--color-hover2);
        }

        .boton {
            background-color: transparent;
            border: none;
            color: var(--letras-blancas);
            font-size: larger;
            font-weight: 500;
            height: 2.5rem;
        }

        .boton:hover {
            font-weight: 700;
            border-bottom: 2px solid var(--color-claro2);
            box-shadow: 1px var(--color-claro2);
        }

        .proyecto {
            background-color: var(--color-fondo1);
            padding-left: .5rem;
            padding-right: .5rem;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .7rem;
        }
          
    }

    .nombre {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-weight: 800;

        .usuario {
            
        padding: .5rem;
        border-left: 2px dashed var(--color-claro2);
        border-bottom: 2px dashed var(--color-claro2);
        }
    }

    .sesion {
        width: 2.5rem;
        height: 2.5rem;
        background-color: var(--color-claro1);
        color: var(--letras-oscuras);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
            font-size: 25px;
        }
    }

    .sesion:hover {
        background-color: var(--color-hover1);
    }


    .acordeon {
        width: 100%;
        border-radius: 20px;
        display: none;

        .titulo {
            background-color: var(--color-claro1);
            border: none;
            color: #333;
            cursor: pointer;
            padding: 10px;
            width: 100%;
            text-align: left;
            outline: none;
            border-radius: 20px;
          }
          
          .contenido {
            background-color: #f9f9f9;
            padding: 10px;
            display: flex;
            flex-direction: column;
          }

          .boton2 {
            background-color: transparent;
            border: none;
            color: var(--letras-oscuras);
            font-size: medium;
            font-weight: 500;
            height: 2.5rem;
        }

        .boton2:hover {
            font-weight: 700;
            border-bottom: 2px solid var(--color-claro2);
            box-shadow: 1px var(--color-claro2);
        }
      }
}

.modal-content {
    background-color: var(--color-fondo2)!important;
    color: var(--letras-blancas);
    

    .modal-body {
        text-align: center;
        
    z-index: 1200;
    }

    .modal-footer {
        display: flex;
        align-items: center;
        justify-content: center;

        .boton1 {
            background-color: var(--color-claro2);
            border: none;
            color: var(--letras-oscuras);
            font-size: larger;
            font-weight: 500;
            height: 2.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
            border-radius: 15px;
        }

        .boton1:hover {
            background-color: var(--color-hover2);
        }

        .sesion {
            font-size: larger;
            font-weight: 500;
            height: 2.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
            background-color: var(--color-claro1);
            color: var(--letras-blancas);
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .sesion:hover {
            background-color: var(--color-hover1);
        }
    }
}

.offcanvas {
    background-color: var(--color-fondo2);
    color: var(--letras-blancas);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;

    .offcanvas-header {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;

        .icon {
            position: absolute;
            left: 0;
            background-color: transparent;
            border: none;
            color: var(--letras-blancas);
            font-size: 25px;
        }

    }

    .offcanvas-body {
        width: 100%;
        padding: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 1rem;

        .nombre {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            font-size: larger;

            .sesion {
                width: 2.5rem;
                height: 2.5rem;
                background-color: var(--color-claro1);
                color: var(--letras-oscuras);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
        
                .icon {
                    font-size: 25px;
                }
            }
        }

        .plan {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: larger;
            gap: 1rem;

            .boton {
                background-color: var(--color-claro2);
                font-weight: 600;
                width: 100%;
                padding: .4rem;
                border-radius: 15px;
                border: none;
            }

            .boton:hover {
                background-color: var(--color-hover2);
            }
        }

        .proyectos {
            width: 100%;
            height: 100%;
            background-color: var(--color-fondo1);
            border-radius: 15px;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
            gap: .5rem;

            .boton {
                background-color: transparent;
                border: none;
                color: var(--letras-blancas);
                font-size: larger;
                font-weight: 500;
                height: 2.5rem;
            }
    
            .boton:hover {
                font-weight: 700;
                border-bottom: 2px solid var(--color-claro2);
                box-shadow: 1px var(--color-claro2);
            }
    
            .proyecto {
                background-color: var(--color-fondo2);
                padding-left: 1rem;
                padding-right: 1rem;
                border-radius: 15px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                gap: .7rem;
                cursor: pointer;
                width: 100%;
            }

            .collapse {
                background-color: var(--color-fondo1)!important;
                color: var(--letras-blancas);
                width: 88%;

                .card {
                    background-color: var(--color-fondo1)!important;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: .5rem;
                    color: var(--letras-blancas);
                    margin-bottom: .1rem;
                    width: 100%;

                    .archivos {
                        display: flex;
                        align-items: center;
                        gap: .5rem;
                        min-width: 100%;

                        .proyecto {
                            min-width: 100%;
                        }
                    }
                }

            }

        }

        .cerrar {
            width: 60%;
            height: 15%;
            background-color: var(--letras-oscuras);
            border-radius: 15px;
            z-index: 10;
      
            .iSesion {
                border: none;
                background-color: var(--color-claro1);
                color: var(--letras-blancas);
                width: 100%;
                height: 90%;
                border-radius: 20px;
                font-size: larger;
                font-weight: 600;
                transition: transform 0.2s ease, background-color 0.3s ease;
            }
      
            .iSesion:hover{
                background-color: var(--color-hover1);
            }
      
            .iSesion:active {
                transform: translateY(3px);
            }
        }
    }
}

/* Disenio responsivo */
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .Nav {
    
        .info {
            width: auto;
            display: flex;
            gap: .2rem;
    

        }
    

    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .Nav {
        padding-left: 1rem;
        padding-right: 1rem;
    
        .info {
            width: auto;
            display: flex;
            align-items: center;
            gap: .3rem;
    
    
            .logo {
                width: 8rem;
                height: 2rem;
                margin: auto;
            }
    
        }
    
        .nombre {
            font-size: 15px;
    
        }

    }
 }

 


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
        
    .Nav {
        padding-left: 1rem;
        padding-right: 1rem;
    
        .info {
            width: auto;
            display: flex;
            align-items: center;
            gap: .3rem;
    
    
            .logo {
                width: 8rem;
                height: 2rem;
                margin: auto;
            }

            .boton {
                display: none;
            }
    
        }
    
        .nombre {
            font-size: 15px;

            .usuario{ 
                display: none;
            }
    
        }
    
    }
}


@media (max-width: 575.98px) {
    .Nav {
        padding-left: .1rem;
        padding-right: .1rem; 
        margin: auto;
    
        .info {
            width: auto;
            display: flex;
            align-items: center;
            gap: 1px;
    
            .boton1 {
                margin: auto;

                #uno {
                    display: none;
                }

                #dos {
                    display: block;
                }
            }

            .logo {
                width: 10rem;
                display: none;
            }

            .logo2 {
                width: 3.3rem;
                display: block;
            }

            .boton {
                display: none;
            }
    
        }
    
        .nombre {
            font-size: 15px;
            gap: .1rem;
    
            .usuario {
                display: none;
            }
        }
    
    }
 }
