<div class="Nav">
  <div>
    <div class="info">
      <div style="display: flex; gap: .8rem">
        <img src="../../../assets/img/logoCode.PNG" alt="" class="logo" />
        <img src="../../../assets/img/logo.PNG" alt="" class="logo2" />
        <!-- <button class="boton1">
          <i class="fa-solid fa-play"></i>
        </button> -->
        <button class="boton1" data-bs-toggle="modal" data-bs-target="#guardar2" id="guardar" *ngIf="nombreP">
          <div id="uno">Guardar</div>
          <div id="dos"><i class="fa-solid fa-floppy-disk"></i></div>
        </button>
        <div class="proyecto" *ngIf="nombreP">
          <i class="fa-solid fa-folder"></i>
          {{nombreP}}
        </div>
      </div>

      <div class="nombre">
        <span class="usuario">{{infoUsuario.nombre}} {{infoUsuario.apellido}}</span>
        <button
          class="btn sesion"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#perfil"
          aria-controls="perfil"
        >
          <i class="fa-solid fa-user icon"></i>
        </button>
      </div>
    </div>
  </div>
</div>


  <!-- Modal de guardar boton2-->
<div class="modal fade m-auto" id="guardar2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="guardar2Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      
      <div class="modal-body">
        Deseas guardar el proyecto '{{nombreP}}'?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn boton1" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn sesion" data-bs-dismiss="modal" (click)="guardarProyecto()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- Offcanvas para el perfil -->
<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="perfil"
  aria-labelledby="perfilLabel"
>
  <div class="offcanvas-header">
    <button
      type="button"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
      class="icon"
    >
      <i class="fa-solid fa-chevron-right"></i>
    </button>
    <h5
      class="offcanvas-title"
      id="perfilLabel"
      style="text-align: center; font-size: 35px; font-weight: 600"
    >
      Perfil
    </h5>
  </div>
  <div class="offcanvas-body">
    <div class="nombre">
      {{infoUsuario.nombre}} {{infoUsuario.apellido}}
      <button class="btn sesion" type="button">
        <i class="fa-solid fa-user icon"></i>
      </button>
    </div>
    <div class="plan">
      Tipo de plan: {{infoUsuario.plan}}

      <br>
      <ng-container *ngIf="infoUsuario.plan == 'Principiante'">
        Limite de proyectos: 1
      </ng-container>
      <ng-container *ngIf="infoUsuario.plan == 'Profesional'">
        Limite de proyectos: 10
      </ng-container>
      <ng-container *ngIf="infoUsuario.plan == 'VIP'">
        Limite de proyectos: 100
      </ng-container>

      <button class="boton" routerLink="/planes">Actualizar plan</button>
      Cantidad de proyectos: {{ proyectos.length }}
    </div>
    <div class="proyectos">
      <ng-container *ngFor="let proyecto of proyectos; let i = index">
        <div class="proyecto" (click)="toggleCollapse(i)">
          <i class="fa-solid fa-folder"></i>
          <div style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center;">
          {{ proyecto.nombreProyecto }}
          </div>
          
          <button class="boton" data-bs-toggle="tooltip" data-bs-placement="top" title="Compartir Proyecto"
          (click)="compartirProyecto(proyecto)">
            <i class="fa-solid fa-share-nodes"></i>
          </button>
          <button class="boton" data-bs-toggle="tooltip" data-bs-placement="top" title="Descargar Proyecto">
            <i class="fa-solid fa-download"></i>
          </button>
          <button class="boton" (click)="eleminarProyecto(proyecto._id)" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar Proyecto">
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
    
        <!-- Despliegue de proyectos en el perfil -->
        <div id="collapse{{i}}" [ngbCollapse]="currentCollapseIndex !== i" >
          <ng-container *ngFor="let archivo of proyecto.archivos">
            <div class="card" >
              <div class="archivos" >
                <i class="fa-solid fa-chevron-right"></i>
                <div class="proyecto">
                  <i class="fa-solid fa-file"></i>
                  <div style="width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;text-align: center;">
                  {{ archivo.nombreArchivo }}
                  </div>
                  
                  <button class="boton" data-bs-toggle="tooltip" data-bs-placement="top" title="Descargar Archivo">
                    <i class="fa-solid fa-download"></i>
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>

    <div class="cerrar" routerLink="">
      <button class="iSesion">
        <i class="fa-solid fa-power-off"></i>
        Cerrar sesion
      </button>
    </div>
  </div>
</div>


 <!-- Modal de compartit-->
 <ng-template #modalCompartir let-modal >
      
      <div class="modal-header" style="display: flex; align-items: center; justify-content: center;">
        
        Deseas compartir el proyecto '{{proyecto.nombreProyecto}}'?
        
      </div>

      <div class="modal-body">
        <div>
          Elije el usuario al que quieres compartir el proyecto:
        </div>
        <div>
          <select [(ngModel)]="usuario" class="inNombre">
            <option *ngFor="let usuario of usuarios" [value]="usuario._id" style="color: black;">{{usuario.nombre}}</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn boton1" (click)="modal.close('Cerrar')">Cerrar</button>
        <button type="button" class="btn sesion" (click)="modal.close('Cerrar')" (click)="mandarProyecto()">Compartir</button>
      </div>

    </ng-template>