.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}

.img {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: 100%;
    }

    .imgIcon {
        width: 20%;
    }
}