<div class="container">
    <div class="img">
        <img src="../../../assets/img/logoC.PNG" alt="" class="logo">
    </div>
    <div class="img">
        <div class="imgIcon" style="width: 22.8%;">
            <img src="../../../assets/img/html.png" alt="" class="logo">
        </div>
        <div class="imgIcon">
            <img src="../../../assets/img/css.png" alt="" class="logo">
        </div>
        <div class="imgIcon">
            <img src="../../../assets/img/js.png" alt="" class="logo">
        </div>
    </div>
</div>