<app-navbar-prueba style="z-index: 10;"></app-navbar-prueba>
<div class="containerFluid">
    <aside>
        <button class="atras" routerLink="">
            <i class="fa-solid fa-chevron-left"></i>
        </button>
    </aside>
    <article>
        <div class="secciones">
            <img src="../../../assets/img/html.png" alt="" class="logo">    
        </div>
        <div class="secciones">
            <img src="../../../assets/img/css.png" alt="" class="logo">    
        </div>
        <div class="secciones">
            <img src="../../../assets/img/js.png" alt="" class="logo">    
        </div>
        <div class="secciones resultado"></div>
    </article>
</div>
