.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.containerFluid {
    margin: 0;
    padding-top: 4.2rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--color-fondo1)!important;
    min-height: calc(100vh - 4.2rem);
    color: var(--letras-blancas);

    aside {
        height: calc(100vh - 4.2rem);
        width: 3rem;
        background-color: var(--color-fondo2);
        display: flex;

        .atras {
            border: none;
            height: 3rem;
            width: 100%;
            border-radius: 10px;
            background-color: var(--color-claro2);
            font-size: 28px;
            font-weight: bold;
            color: var(--letras-oscuras);
            margin-top: .4rem;
        }

        .atras:hover {
            background-color: var(--color-hover2);
        }
    }

    article {
        height: calc(100vh - 4.2rem);
        width: 100%;
        background-color: var(--color-fondo2);
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        gap: .7rem;

        .secciones {
            width: 49.5%;
            height: 49%;
            background-color: #1E1E1E;
            position: relative;
            z-index: 10;

            .logo {
                width: 2rem;
                position: absolute;
                left: 3px;
                top: 3px;
                z-index: 11;
            }
        }

        .resultado {
            background-color: var(--letras-blancas);
            padding: 0;
        }
    }
}


/* Disenio responsivo */
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .containerFluid {
    
        aside {
            height: calc(100vh - 4.2rem);

        }
    
        article {
            height: calc(100vh - 4.2rem);
            width: 100%;
            background-color: var(--color-fondo2);
            flex-wrap: wrap;
            display: flex;
            justify-content: space-between;
            gap: .7rem;
    
            .secciones {
                width: 49.4%;
    
                .logo {
                    width: 2rem;
                }
            }
    
        }
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .containerFluid {
    
        aside {
            height: calc(100vh - 4.2rem);

        }
    
        article {
            height: calc(100vh - 4.2rem);
            width: 100%;
            background-color: var(--color-fondo2);
            flex-wrap: wrap;
            display: flex;
            justify-content: space-between;
            gap: .7rem;
    
            .secciones {
                width: 49.2%;
    
                .logo {
                    width: 2rem;
                }
            }
    
        }
    }
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .containerFluid {
    
        aside {
            height: calc(100vh - 4.2rem);

        }
    
        article {
            height: calc(100vh - 4.2rem);
            width: 100%;
            background-color: var(--color-fondo2);
            flex-wrap: wrap;
            display: flex;
            justify-content: space-between;
            gap: .7rem;
    
            .secciones {
                width: 48.8%;
    
                .logo {
                    width: 2rem;
                }
            }
    
        }
    }

}


@media (max-width: 575.98px) {
    .containerFluid {

        aside {
            height: 84rem;
            position: fixed;

        }
    
        article {
            height: 84rem;
            width: 100%;
            background-color: var(--color-fondo2);
            display: flex;
            justify-content: space-between;
            gap: .7rem;
            padding-left: 3rem;
    
            .secciones {
                width: 98%;
                height: 20rem;
    
                .logo {
                    width: 2rem;
                }
            }
    
        }
    }
}

