.containerFluid {
    padding: 2rem;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-fondo1)!important;
    min-height: 100vh;
    overflow-y: auto;
    gap: 3rem;
    color: var(--letras-blancas);

    .img {
        width: 25%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .logo {
            width: 100%;
        }
    }

    .img2 {
        width: 25%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        display: none;
    
        .logo {
            width: 100%;
        }
    }

    .letras {
        font-size: 50px;
        font-weight: 500;
    }

    .plan {
        width: 80%;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        .card {
            margin: 2rem;
            margin-bottom: 4rem;
            background-color: var(--color-claro1);
            color: var(--letras-blancas);
            box-shadow: 0.2rem 0.2rem .5rem var(--letras-oscuras)!important;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 2rem;
            height: 100%;
            width: 15rem;
            gap: 1rem;
            position: relative;
            border-radius: 15px;

            .precio {
                position: absolute;
                width: 50%;
                height: 40%;
                background-color: var(--color-claro2);
                top: -50px;
                border-radius: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0.1rem 0.1rem .3rem var(--letras-oscuras)!important;
                color: var(--letras-oscuras);
                font-size: 25px;
                font-weight: bold;
            }

            .elegir {
                position: absolute;
                width: 40%;
                height: 25%;
                background-color: var(--color-claro2);
                bottom: -25px;
                border-radius: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0.1rem 0.1rem .3rem var(--letras-oscuras)!important;
                color: var(--letras-oscuras);
                font-size: 20px;
                font-weight: bold;
                cursor: pointer;
            }

            .elegir:hover {
                background-color: var(--color-hover2);
            }
        }

        
    }
}



/* Disenio responsivo */
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
.containerFluid {
    .img {
        width: 35%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .logo {
            width: 100%;
        }
    }

    .letras {
        font-size: 40px;
        font-weight: 500;
    }
}
 }


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .containerFluid {
        .img {
            width: 45%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        
            .logo {
                width: 100%;
            }
        }

        .letras {
            font-size: 40px;
            font-weight: 500;
        }
    }      

}


@media (max-width: 575.98px) {
    .containerFluid {
        
    overflow-y: auto;

        .img {
            width: 55%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            display: none;
        
            .logo {
                width: 100%;
            }
        }

        .img2 {
            width: 35%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            display: block;
        
            .logo {
                width: 100%;
            }
        }
        .letras {
            font-size: 30px;
            font-weight: 500;
        }
    }
 }

