<div class="containerFluid">
    <div class="medium">
      <app-img-landing></app-img-landing>
    </div>
    <div class="medium bienvenido">
      <div class="c1"></div>
      <div class="c2"></div>
      <div class="c3"></div>
      <div class="c4"></div>
  
      <form class="form">
          <button routerLink="" style="background-color: transparent; border: none;" class="icon">
        <i class="fa-solid fa-chevron-left "></i>
      </button>
        <div class="img2">
          <img src="../../../assets/img/logo.PNG" alt="" class="logo" />
        </div>
        <div class="saludo">
        <h1>Registrate</h1>
      </div>
        <div class="formInput">
          <input
            type="text"
            class="form-control inNombre"
            id="nombre"
          />
          <label class="form-label mb-0 userLabel">Nombre:</label>
        </div>
        <div class="formInput">
            <input
              type="text"
              class="form-control inNombre"
              id="apellido"
            />
            <label class="form-label mb-0 userLabel">Apellido:</label>
          </div>
          <div class="formInput">
            <input
              type="email"
              class="form-control inNombre"
              id="email"
            />
            <label class="form-label mb-0 userLabel">Correo:</label>
          </div>
        <div class="formInput">
          <input
            type="password"
            class="form-control inNombre"
            id="password"
          />
          <label class="form-label mb-0 userLabel">Contrasenia:</label>
        </div>
        <div class="boton" routerLink="/planes">
          <button class="iSesion" type="submit">Registrarse</button>
        </div>
  
        <div class="footer">
            <p>@Copyright</p>
          </div>
      </form>
    </div>
  </div>
  