<app-navbar-pricipal class="nav" [idProyecto]="idProyecto"
[nombreP]="nombreP" [descripcionProyecto]="descripcionProyecto" 
[htmlCode]="htmlCode" [cssCode]="cssCode" [jsCode]="jsCode"></app-navbar-pricipal>
<div class="containerFluid">
  <aside>
    <i
      class="fa-solid fa-bars icon"
      data-bs-toggle="offcanvas"
      data-bs-target="#aside"
      aria-controls="aside"
    ></i>
  </aside>
  <article>
    <div class="secciones">
        <img src="../../../assets/img/html.png" alt="" class="logo">    
        <ngx-monaco-editor 
        style="height: 100%;"
        [options]="editorOptionsHTML" 
        [(ngModel)]="htmlCode">

        </ngx-monaco-editor>
    </div>
    <div class="secciones">
        <img src="../../../assets/img/css.png" alt="" class="logo">   
        <ngx-monaco-editor 
        style="height: 100%;"
        [options]="editorOptionsCSS" 
        [(ngModel)]="cssCode">

        </ngx-monaco-editor> 
    </div>
    <div class="secciones">
        <img src="../../../assets/img/js.png" alt="" class="logo">  
        <ngx-monaco-editor 
        style="height: 100%;"
        [options]="editorOptionsJS" 
        [(ngModel)]="jsCode">

        </ngx-monaco-editor> 
        
    </div>
    <div class="secciones resultado">
        <iframe [srcdoc]="result" style="width: 100%; height: 99%; border: none; margin: 0; padding: 0;"></iframe>
    </div>
</article>
</div>

<!-- Offcanvas del aside -->
<div
  class="offcanvas offcanvas-start"
  data-bs-scroll="true"
  data-bs-backdrop="false"
  tabindex="-1"
  id="aside"
  aria-labelledby="asideLabel"
>
  <div class="offcanvas-header">
    <h5
      class="offcanvas-title"
      id="asideLabel"
      style="text-align: center; font-size: 25px; font-weight: 600"
    >
      Proyectos
    </h5>

    <button
      type="button"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
      class="icon"
    >
      <i class="fa-solid fa-chevron-left"></i>
    </button>
  </div>
  <div class="offcanvas-body">
    <form [formGroup]="formularioCrearProyecto">
      <div class="nombre">
        <input
          type="text"
          placeholder="Nombre del proyecto"
          class="info"
          formControlName="nombreProyecto"
        />
        <!-- <br>
        <div *ngIf="nombreProyecto.invalid && (nombreProyecto.dirty || nombreProyecto.touched)" >
          <span *ngIf="nombreProyecto.errors.required">Error el campo es obligatorio</span>
          <span *ngIf="nombreProyecto.errors.maxlength">Error el tamaño máximo es de 10 caracteres</span>
        </div> -->
        <textarea
          name=""
          id=""
          cols="30"
          rows="4"
          placeholder="Descripcion del proyecto"
          class="info"
          style="margin-bottom: 1rem;"
          formControlName="descripcion"
        ></textarea>
      </div>
      <div class="plan">
        <button class="boton" type="button"
        (click)="crearProyecto()"
        [disabled]="!formularioCrearProyecto.valid">
          <i class="fa-solid fa-folder-plus" style="font-size: 30px"></i>
          Nuevo proyecto
        </button>
      </div>
    </form>

    <div class="proyectos">
      <ng-container *ngFor="let proyecto of proyectos; let i = index">
        <div class="proyecto" (click)="toggleCollapse(i)">
          <i class="fa-solid fa-folder"></i>
          {{ proyecto.nombreProyecto }}
          <button class="boton">
            <i class="fa-solid fa-share-nodes"></i>
          </button>
          <button class="boton">
            <i class="fa-solid fa-download"></i>
          </button>
          <button class="boton"  (click)="abrirProyecto(proyecto)"
          type="button"
      data-bs-dismiss="offcanvas"
      aria-label="Close">
            <i class="fa-solid fa-share-from-square"></i>
          </button>
        </div>

        <!-- Despliegue de proyectos en el perfil -->
        <div id="collapse{{ i }}" [ngbCollapse]="currentCollapseIndex !== i">
          <ng-container *ngFor="let archivo of proyecto.archivos">
            <div class="card">
              <div class="archivos">
                <i class="fa-solid fa-chevron-right"></i>
                <div class="proyecto">
                  <i class="fa-solid fa-file"></i>
                  {{ archivo.nombreArchivo }}
                  <button class="boton">
                    <i class="fa-solid fa-share-nodes"></i>
                  </button>
                  <button class="boton">
                    <i class="fa-solid fa-download"></i>
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</div>
